[project]
	description = Modified working 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/subhashwc
[access "refs/for/refs/*"]
	read = group user/subhashwc
	push = group user/subhashwc
	label-Code-Review = -2..+2 group user/subhashwc
	label-Verified = -1..+1 group user/subhashwc
	rebase = group user/subhashwc
	removeReviewer = group user/subhashwc
	submit = group user/subhashwc
[access "refs/heads/*"]
	read = group user/subhashwc
	create = group user/subhashwc
	push = +force group user/subhashwc
	pushMerge = group user/subhashwc
[access "refs/tags/*"]
	push = +force group user/subhashwc
	pushTag = group user/subhashwc
	pushSignedTag = group user/subhashwc
